/**
 * Reset
 */
 body {
     margin: 0;
 }

/**
 * Base
 */

 /* Typography*/

 h4{
     font-size:25px;
 }

 h3{
     font-size: 27px;
 }

 h2{
     font-size: 40px;
 }

 p{
     font-size: 20px;
 }

.date{
    font-size: 27px;
}

 a {}
 a:hover {}

 /* media */ 
img{
    max-width:100%;
}
 
/* Text meant only for screen readers. */
.screen-reader {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
  .screen-reader:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
/**
 * Layout
 * Uniquement pour le positionnement sans les styles graphique
 */

 /* barre menu honrizontal */
 #main-menu {
	padding: 0; margin: 0;
	text-align: left;
}
#main-menu li {
	display: inline;
	list-style: none;
}
#main-menu a {
	display:inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    align-items: center;
}
 
.container,
.grid {
    max-width: 1310px;
    margin: auto;
}

.grid{
    display: grid;
    grid-gap: 30px;
}


/**
 * Composants
 */

 /* Bouton */
 .bouton {
     padding: 10px;
     border-radius: 8px;
     background-color: lightblue;
     color: black;
 }
 .button--light {
     background-color: white;
 }
 .button--blue {
     background-color: blue;
     color: white;
 }

 /*photo loisir*/

 .photo-plonge{
    display: flex;
    justify-content: flex-end;
    padding-left: 10%;
 }

 #loisirs{
     display:flex;
     align-items: center;
     justify-content: center;
 }

  /* barre menu horizontal color */

  header{
    background-color:#a7a8d9;
    color: white;
    display: flex;
    
}



img{
    margin-left: auto;
}

.svg-inline--fa {
    font-size: inherit;
    color: white;
}

footer{
    background-color:#a7a8d9;
    color: white;
}


 /* Section title */

 section{
     padding: 1em;
 }

 .section-title {
     color: inherit;
 }

/* Section accueil */
 #accueil{
    background-image:url("/assets/images/anneaccueil7-min.jpg");
    background-position: left bottom;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
}

.section-content {
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 2em;
    text-align: center;
    background-color: rgba(99, 122, 191, .6);
    font-size: 1.8em;
    line-height: 1;
}

.section-content h1 {
font-size: 2em;
}
.section-content h1,
.section-content p {
    margin: .5em;
    text-shadow: 0 0 2px rgb(99, 122, 191);
}
/*section diplome*/

#diplomes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item{
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
}
.list-item h4 {
    margin: 0;
}
.competence-list{
    position: relative;
    max-width: 720px;
    margin: auto;
}
.list-icon{
    margin-right: 1em;
    position: relative;
    z-index: 1;
}
  
.list-content{
   
}

.date{
    color: #637abf;
}

#histoire{
}

/**
 * PAGES
*/
article {
    width: 90%;
    max-width: 720px;
    margin: auto;

}


/**
 * Class utilitaire
 */
 .has-orange-background {
     background-color: #f2b84b;
 }

 .has-white-background {
    background-color: white;
}

 .has-blue-background {
     background-color:#637abf;
     color: white;
 }

@media screen and (min-width:940px) {
    header {
        position: fixed;
        width: 100%;
    }
    #accueil {
        min-height: 80vh;
    }
    #histoire .grid{
    grid-template-columns:1fr 2fr;
}

    #diplomes .grid{
    grid-template-columns:repeat(3, 1fr);  
}

    #competences .grid{
    grid-template-columns:repeat(4, 1fr);  
}

    #loisirs .grid{
    grid-template-columns:2fr, 1fr;  
}

    #productions .grid{
    grid-template-columns:repeat(3, 1fr);  
}

    #contact .grid{
    grid-template-columns:1fr, 1fr;  
}

}